<!DOCTYPE html>
<html>

	<head>
		<title><%=client.user.username%></title>
		<meta property="og:title" content="<%=client.user.username%> website">
		<meta property="og:description" content="No Description">
		<meta property="og:url" content="<%=config.fullUrl%>">
		<meta property="og:image" content="<%=client.user.dynamicAvatarURL("png", 128)%>">
		<meta name="theme-color" content="#FFEA17">
	</head>
	<body>
		<div className="box">
			<img src="<%=client.user.dynamicAvatarURL("png", 128)%>" className="box-img">
			<p><%=client.user.username%></p>
			<p>Jumlah Server: <%=client.guilds.size%><br>Jumlah Users: <%=client.users.size%></p>
		</div>
	</body>

</html>