<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="<%=client.user.dynamicAvatarURL("png", 1024)%>">
    <title><%=client.user.username%></title>
    <meta property="og:title" content="<%=client.user.username%> Website">
    <meta property="og:description" content="Nothing, just jadlion website">
    <meta property="og:url" content="http://jadlions.me">
    <meta property="og:image" content="<%=client.user.dynamicAvatarURL("png", 1024)%>">
    <meta name="theme-color" content="#00ff11">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <div class="box">
        <img src="<%=client.user.dynamicAvatarURL("png", 1024)%>" alt="" class="box-img">
        <h1><%=client.user.username%></h1>
        <h4>Moderation, Information And Utility Bot</h4>
        <p>Total Server: <%=client.guilds.size%><br>Total Users: <%=client.users.size%></p>
        <ul>
            <li><a href="https://discord.com/oauth2/authorize?client_id=<%=client.user.id%>&scope=bot%20applications.commands&permissions=0"><i class="fab fa-discord" style='font-size:35px'></i></a></li>
        </ul>
    </div>

    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: linear-gradient(to bottom right, red, rgba(0,212,255,1));
            background-size: cover;
        }

        .box {
            width: 450px;
            background: rgba(0, 0, 0, 0.4);
            padding: 40px;
            text-align: center;
            margin: auto;
            margin-top: 5%;
            color: white;
            font-family: "Century Gothic", sans-serif;
        }

        .box-img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            transition: all ease-in-out 1000ms;
            transform-style: preserve-3d;
        }

        .box h1 {
            font-size: 45px;
            letter-spacing: 4px;
            font-weight: 100;
        }

        .box h4 {
            font-size: 22px;
            letter-spacing: 2px;
            font-weight: 100;
        }

        .box p {
            font-size: 22px;
            font-weight: 100;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        .box li {
            display: inline-block;
            margin: 6px;
            list-style: none;
        }

        .box li a {
            color: white;
            text-decoration: none;
            font-size: 60px;
            transition: all ease-in-out 300ms;
            padding-right: 16px;
        }

        .box li a:hover {
            color: #b9b9b9;
        }

        .box-img:hover {
            transform: rotateY(180deg);
        }
    </style>
</body>
</html>
